.git
.github
.vscode
.env
**/.env
**/.env.*
!**/.env.example

backend
frontend/node_modules
frontend/dist
frontend/coverage

**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.DS_Store
**/*.log
