APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=3307
DB_DATABASE=payment
DB_USERNAME=laravel
DB_PASSWORD=secret

REDIS_HOST=localhost
REDIS_PORT=6379

MOLLIE_API_KEY=your_api_secret_here
MOLLIE_WEBHOOK_SECRET=your_webhook_secret_here

#CELERY_BROKER_URL=redis://redis:6379/0
CELERY_BROKER_URL=amqp://guest:guest@localhost:5673//

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=test@gmail.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=test@gmail.com
MAIL_FROM_NAME=Python FastAPI Payment